.AboutUs {

    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    width: 100%;

    background-color: #75a176a8;
}

.AboutUs .container{
    margin-top: 2%;
    margin-left: 10%;
    text-align: left;
}

.container .Title {
    font-size: 50px;
    width: 35%;
    overflow: hidden;
    border-right: .15em solid rgb(53, 53, 53);
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 40 }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(144, 144, 144); }
  }

.AboutUs-description {
    font-size: 20px;
    margin-top: 2%;
    margin-right: 5%;
    text-align: justify;
}


.AboutUs .pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 85%;
    height: 100%;
}

.AboutUs .slider {
    width: 45%;
    height: 5%;
    max-height: 400px;
    margin-right: 2%;
}