.AboutUs {
    margin: 4rem;
    margin-bottom: 6rem;
}

.AboutUs-description {
    font-size: 20px;
    font-family: Arial;
    margin-top: 1rem;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}