.AboutUs {

    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #75a176a8;
}

.AboutUs .container{
}

.AboutUs .Title {
    font-family: 'Noto Serif';
    font-size: 45px;
    width: 350px;
    overflow: hidden;
    border-right: .15em solid rgb(53, 53, 53);
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 350px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(144, 144, 144); }
  }

.AboutUs-description {
    font-size: 25px;
    font-family: 'Open Sans';
    margin-top: 2%;
    text-align: justify;
}


.AboutUs .pic {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;

    width: 85%;
    height: 85%;
}

.AboutUs .slider {
    max-height: 400px;
}