.projects {

    width:100%;
    margin-bottom: 50px;

}


.projects >h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Noto Serif'
}

.projects .container {
    padding-bottom: 50px;
    display: flex;

    margin-left: 25%;
}

.container .title {
    font-family: 'Noto Serif';
    font-size: 20px;
    text-align: center;
}

.project {
    margin: 0 20px 0 20px;

    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
    box-shadow: -4px -3px 45px 21px rgba(54, 98, 56, 0.082);
}

.project .pic {
    width: 300px;
    object-fit: cover;
}