.projects {

    width:100%;
    height: auto;
    margin-bottom: 50px;

}


.projects >h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Noto Serif'
}

.projects .container {
    padding-bottom: 50px;
    display: flex;
    width: 100%;

    margin: auto;
}

.container .title {
    font-family: 'Noto Serif';
    font-size: 20px;
    text-align: center;
}




.projects .project1{
    height: 250px;
    width: 400px;
    margin-right: 15px;
    background-color: rgba(42, 93, 47, 0.431);
}

.projects .project2{
    height: 250px;
    width: 400px;
    margin: 0px 15px 0px 15px;
    background-color: rgba(136, 37, 67, 0.548);
}

.projects .project3{
    height: 250px;
    width: 400px;
    margin: 0px 15px 0px 15px;
    background-color: rgba(32, 84, 151, 0.548);
}

.projects .project4{
    height: 250px;
    width: 400px;
    margin-left: 15px;
    background-color: rgba(92, 172, 45, 0.623);
}